header {
  background-color: #2248A1;
  height: 30px;
  color: #FFFFFF;
  padding: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

header .left-section {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

header .left-section h5 {
  font-weight: 100;
}

header .left-section h5 i {
  font-size: 18px;
  margin-left: 2px;
}

header .left-section .menu {
  float: left;
  margin-right: 12px;
}

header .right-section .chart {
  margin-right: 16px;
}